.navbar-custom {
  background-color: #000D50;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #ffffff;
}
.navbar-custom .nav-link:hover {
  color: #00ff99;
}
.navbar-custom .btn-login {
  border-color: #ffffff;
  color: #ffffff;
}
.navbar-custom .btn-signup {
  background-color: #00b33c;
  color: #ffffff;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.userIcon{
  width: 30px;
  height: 30px;
  fill:rgb(255, 255, 255);
  margin-right: 20px;
}

